@charset 'UTF-8';
@import 'node_modules/css-reset-and-normalize-sass/scss/flavored-reset-and-normalize';

@import './mixins';
@import './rotate';

@import './components/reboot';
@import './components/colours';
@import './components/transitions';
@import './components/row';
@import './components/column';
@import './components/button';
@import './components/spacing';
@import './components/content';
@import './components/backlink';
@import './components/form';

@import './variables';

.font-ngnl {
  font-family: "ngnl";
}

.box {
  @include smart-padding(1rem);
}

.foldable {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: -20%;

  &.folded {
    top: 4rem;
    pointer-events: none;
  }
}
