@import '../mixins/column';

.backlink-wrapper {
  background: linear-gradient(130deg, #000FE5, #005FFF) !important;
  height: 5rem;
  display: flex;
  justify-content: center;
  color: white;

  > * {
    @include smart-padding(1rem);

    max-width: 945px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .backlink {
    > * {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
